<div class="geral">
  <h2 class="titulo">Adicionar Novo Produto</h2>
  <form class="form" #produtoForm="ngForm" (ngSubmit)="adicionarProduto(produtoForm.value)">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" ngModel required>

    <label for="preco">Preço:</label>
    <input type="number" id="preco" name="preco" ngModel required>

    <label for="estoque">Estoque:</label>
    <input type="number" id="estoque" name="estoque" ngModel required>

    <label for="validade">Validade:</label>
    <input type="date" id="validade" name="validade" ngModel required>

    <label for="perecivel">Perecível:</label>
    <select id="perecivel" name="perecivel" ngModel required>
      <option value="Sim">Sim</option>
      <option value="Não">Não</option>
    </select>

    <label for="categoria_id">Categoria:</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01"></label>
      </div>
      <select class="custom-select" id="categoria" [(ngModel)]="selectedCategoria" for="categoria" name="categoria_no" required>
        <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
      </select>
    </div>
    
    <button type="submit">Adicionar Produto</button>
  </form>
</div>
