<div class="home">
<h2>Sistema de CRUD de Produtos</h2>
<br>
<br>
<h4>Bem-vindo ao nosso projeto de Sistema de CRUD de Produtos! Este aplicativo foi desenvolvido para oferecer uma
    solução eficiente e fácil de usar na gestão de produtos, proporcionando operações básicas de criação, leitura,
    atualização e exclusão. A arquitetura desacoplada entre frontend e backend, utilizando Angular, TypeScript, Laravel
    e PostgreSQL, proporciona uma experiência robusta e escalável.</h4>
</div>

<img class="img" src="assets\giphy-home.gif"/>